html,
body {
	height: 100%;
	align-items: center;
	background-color: white;
}
.cards {
	display: flex;
	/* Put a card in the next row when previous cards take all width */
	flex-wrap: wrap;
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	margin-top: 20px;
}
.form-group {
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin: auto;
	align-items: center;
}
.form-group input[type="text"] {
	margin-top: 5px;
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-group input[type="password"] {
	margin-top: 5px;
	margin-bottom: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-check {
	font-weight: 400;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}
.gambar {
	background: url("Cincau.jpg") center center;
	height: 240px;
}
.table > tbody > tr > * {
	vertical-align: middle;
}
#msg {
	padding-top: 1rem;
	text-align: center;
}
